@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');


body{
	background-color: #161602;
}
.main{
	position: relative;
}
#header{
	width: 100%;
	height: auto;
	background-color: rgb(184, 125, 85);
}


.form-box {
	position:static;
	width: 50%;
	left: 15%;
	top: 5vh;
	margin: auto;
	display: flex;
	
}

.form-title {
	width: 5%;
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}

.form-content {
	width: 95%;
	height: 100%;
	padding: 50px 0;
	background: #49362a;
	display: flex;
}
form {
	width: 60%;
	height: 90%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 25px;
}
form h1{
	text-align: center;
	color: #23212c;
	font-size: 50px;
	font-weight: 400;
}

.personal-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;


}
.personal-info input {
	width: 100%;
	padding: 15px 10px;
	background: none;
	
	border-bottom: 1px solid #D4D3DC;
	color: #D4D3DC;
	font-size: 16px;
}
.personal-info .input{
	width: 100%;
}
.personal-info span {
	font-size: 16px;
	margin: 25px 0;
}

.personal-info input::placeholder {
	color: white;
}
.club-info {
	display: flex;

	justify-content: space-between;
	flex-wrap: wrap;
}
.club-info input {
	padding: 15px 10px;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #D4D3DC;
	color: white;
	font-size: 16px;
}

.club-info label {
	color: white;
	font-size: 12px;
}
.club-info label i{
	color: white;
	font-size: 24px;
}
.form-content button {
	width: 100%;
	padding: 15px 10px;
	font-size: 20px;
	border-radius: 5px;
	border: none;
	outline: none;
	color: black;
	background: #D4D3DC;
}
.form-content button:hover {
	color: white;
}
.radio{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
	gap: 10px;
}
.gender{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
	gap: 10px;
}
.groups{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: flex-end;
	gap: 10px;
}
.clubs {
	display: grid;
	
	gap: 10px;
}
h2{
	color: rgb(27, 21, 21);
	font-weight: 300;
}




